body {
  font-family: helvetica;
}

#closeButton {
  width: 30px;
  height: 30px;
  z-index: 10;
  top: 0px;
  background-image: url("../img/close.png");
  background-size: cover;
  text-align: justify;
  position: relative;
  float: right;
}

#canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    display: block;
/*    width: 700px;
    height: 700px;*/
/*    background-color: red;*/
}

.letterBox {
  border: 3px solid black;
  display: inline-block;
  padding: 20px;
  width: 500px;
  z-index: 10;
  left: 50vw;
  top: 25vw;
  margin-left:-270px;
  position: absolute;
  background-color: white;
}

.letterContents {
  width: 90%;
  position: relative;
}

ul {
  list-style-type:none;
}

li {
  padding-top: 5px;
}

#tagline {
  font-style: italic;
}

#textbox {
  padding-left: 450px;
  padding-right: 450px;
}
#imagewords {
  float: left;
}

#img1 {
  position: fixed;
  width: 250px;
  float:right;
  bottom:0;
  display: none;
  z-index: 10;
  right: 10vw;
  top: 10vw;
  margin-left:-270px;
  position: absolute;

}
#imagewords:hover #img1 {
        display: block;
}
    