body {
  font-family: helvetica;
}

a {
  text-decoration: none; 
  color: black;
  text-decoration: underline;
}

a:hover {
    color: lightblue;
}

#closeButton {
  width: 30px;
  height: 30px;
  z-index: 10;
  top: 0px;
  background-image: url("../img/close.png");
  background-size: cover;
  text-align: justify;
  position: relative;
  float: right;
}

#canvas {
    left: 50vw;
    margin-left: -350px;
    margin-top: 20px;
    display: block;
    position: absolute;
/*    width: 700px;
    height: 700px;*/
/*    background-color: red;*/
}

#canvasCover {
    left: 50vw;
    margin-left: -350px;
    margin-top: 20px;
    display: block;
/*    background-color: red;*/
    background-opacity: 50%;
    width: 780px;
    height: 700px;
    z-index: 2;
    position: absolute;
}

#info {
  width: 180px;
  padding: 20px;
  float: left;
  font-size: 20px;
  z-index: 5;
  position: absolute;
}

#parts-spaced {
  margin-bottom: 45px;
  margin-top: -5px;  
}

#instructions {
  margin-bottom: 30px;
  margin-left: -30px;
}

.recipeName {
  position: absolute;
}

.recipeName:hover {
  color: orange;
}

.main-img {
  width: 500px;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  margin: auto;
}


.letterBox {
  border: 3px solid black;
  display: inline-block;
  padding: 20px;
  width: 500px;
  z-index: 10;
  left: 50vw;
  top: 290px;
  margin-left:-270px;
  position: absolute;
  background-color: white;
}

.letterContents {
  width: 90%;
  position: relative;
}

ul {
  list-style-type:none;
}

li {
  padding-top: 5px;
}

#tagline {
  font-style: italic;
}

#captionImage {
  top: 50vh;
  z-index: 10;
  right: 10vw;
  position: absolute;
    float:right;
    width: 300px;
}

#textbox {
  margin-left: auto;
  margin-right: auto;
  width: 35vw;
  margin-bottom: 80px;
}

#imagewords {
  float: left;
}

#img1 {
  position: fixed;
  width: 20vw;
  float:right;
  bottom:0;
  display: none;
  z-index: 10;
  right: 10vw;
  top: 30vh;
  margin-left:-270px;
  position: absolute;

}

#img2 {
  position: fixed;
  width: 20vw;
  float:right;
  bottom:0;
  display: none;
  z-index: 10;
  right: 10vw;
  top: 80vh;
  margin-left:-270px;
  position: absolute;
}

#img22 {
  position: fixed;
  width: 20vw;
  float:right;
  bottom:0;
  display: none;
  z-index: 10;
  right: 10vw;
  top: 110vh;
  margin-left:-270px;
  position: absolute;
}

#img3 {
  position: fixed;
  width: 20vw;
  float:right;
  bottom:0;
  display: none;
  z-index: 10;
  right: 10vw;
  top: 135vh;
  margin-left:-270px;
  position: absolute;
}

#blog-container{
  width: 100%;
}

.blog-img{
  position: relative;
  width: 500px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#imagewords:hover {
  color: orange;
}

#imagewords:hover #img1 {
        display: block;
}
   
#imagewords:hover #img22 {
        display: block;
}

#imagewords:hover #img2 {
        display: block;
}

#imagewords:hover #img3 {
        display: block;
}


@media all and (max-width: 600px) {
  #textbox {
    width: 90vw;
    margin-left: 10px;
    margin-right: 0px;
  }

  .blog-img{
  width: 90%;
  margin-top: 20px;
  margin-bottom: 20px;
}
}
