body {
  font-family: helvetica;
}

#closeButton {
  width: 30px;
  height: 30px;
  z-index: 10;
  top: 0px;
  background-image: url("../img/close.png");
  background-size: cover;
  text-align: justify;
  position: relative;
  float: right;
}

#canvas {
    left: 50vw;
    margin-left: -350px;
    margin-top: 20px;
    display: block;
    position: absolute;
/*    width: 700px;
    height: 700px;*/
/*    background-color: red;*/
}

#canvasCover {
    left: 50vw;
    margin-left: -350px;
    margin-top: 20px;
    display: block;
/*    background-color: red;*/
    background-opacity: 50%;
    width: 780px;
    height: 700px;
    z-index: 2;
    position: absolute;
}

#info {
  width: 180px;
  padding: 20px;
  float: left;
  font-size: 20px;
}

.recipeName {
  position: absolute;
}

.recipeName:hover {
  color: orange;
}


.letterBox {
  border: 3px solid black;
  display: inline-block;
  padding: 20px;
  width: 500px;
  z-index: 10;
  left: 50vw;
  top: 280px;
  margin-left:-270px;
  position: absolute;
  background-color: white;
}

.letterContents {
  width: 90%;
  position: relative;
}